<nz-card nzTitle="Changer le mot de passe" style="margin-bottom: 8px;">
  <form nz-form #changePasswordForm="ngForm" (ngSubmit)="change()" nzLayout="inline">
    <nz-form-item>
      <nz-form-control nzHasFeedback>
        <input nz-input [formControl]="form.controls['password']" id="password" name="password" type="password"
          placeholder="Password" maxlength="30">
        <nz-form-explain *ngIf="form.controls['password'].dirty && form.controls['password'].errors">
          <ng-container *ngIf="form.controls['password'].hasError('required')">
            Ce champ est obligatoire
          </ng-container>
          <ng-container *ngIf="form.controls['password'].hasError('minlength')">
            Ce champ doit contenir au moins {{form.controls['password'].errors['minlength'].requiredLength}}
            caractères
          </ng-container>
        </nz-form-explain>
      </nz-form-control>
    </nz-form-item>
    <nz-form-item>
      <nz-form-control>
        <button nz-button nz-tooltip [nzTitle]="naming.getUpdatePassword" nzType="primary" [nzLoading]="loading"
          [disabled]="!form.valid">
          <i class="anticon anticon-retweet"></i>
        </button>
      </nz-form-control>
    </nz-form-item>
  </form>
</nz-card>
