.logo {
  font-size: 18px;
  color: rgba(255, 255, 255, .8);
  font-weight: 500;
  float: left;
}

.primary--text {
  color: rgba(134, 134, 241, 0.377);
}

.ant-menu-item-selected {
  background-color: transparent;
}
