.toggle-button {
  float: left;
  margin: 16px 24px 16px 0;
}

.sider {
  background: #fff;
  border-right: 1px solid #e8e8e8;
}

.footer {
  text-align: center;
  background-color: #001529;
  color: rgba(255, 255, 255, .8);
  padding: 12px 0;
}

.container {
  min-height: 100%;
}
