<button style="float: right; margin-left: 10px;" (click)="true" nz-button nz-popover nzTrigger="click" [nzTitle]="action"
  nzSize="small" [nzContent]="details">
  <i class="anticon anticon-select"></i>
  Details
</button>

<ng-template #details>
  <nz-row nzType="flex" nzJustify="center" nzAlign="middle">
    <nz-col *ngIf="element.type != 0">
      <nz-card style="min-width: 250px;" nzTitle="Avant" nzType="inner">
        <nz-list nzSize="small">
          <nz-list-item>
            <nz-tag [nzColor]="isFirstNameChanged ? 'red' : false">Prénom: <b>{{element.previous.firstName}}</b></nz-tag>
          </nz-list-item>
          <nz-list-item>
            <nz-tag [nzColor]="isLastNameChanged ? 'red' : false">Nom: <b>{{element.previous.lastName}}</b></nz-tag>
          </nz-list-item>
          <nz-list-item>
            <nz-tag [nzColor]="isAddressChanged ? 'red' : false">Adresse: <b>{{element.previous.address}}</b></nz-tag>
          </nz-list-item>
          <nz-list-item>
            <nz-tag [nzColor]="isEmailChanged ? 'red' : false">Email: <b>{{element.previous.email}}</b></nz-tag>
          </nz-list-item>
          <nz-list-item>
            <nz-tag [nzColor]="isFunctionChanger ? 'red' : false">Fonction: <b>{{element.previous.function}}</b></nz-tag>
          </nz-list-item>
          <nz-list-item>
            <nz-tag [nzColor]="isImageChanged ? 'red' : false">Image: <b>{{element.previous.image}}</b></nz-tag>
          </nz-list-item>
        </nz-list>
      </nz-card>
    </nz-col>
    <nz-col *ngIf="element.type == 1" style="margin: 20px;"><i class="anticon anticon-arrow-right" nzSize="large"></i></nz-col>
    <nz-col *ngIf="element.type != 2">
      <nz-card style="min-width: 250px;" nzTitle="Après" nzType="inner">
        <nz-list nzSize="small">
          <nz-list-item>
            <nz-tag [nzColor]="isFirstNameChanged ? 'green' : false">Prénom: <b>{{element.current.firstName}}</b></nz-tag>
          </nz-list-item>
          <nz-list-item>
            <nz-tag [nzColor]="isLastNameChanged ? 'green' : false">Nom: <b>{{element.current.lastName}}</b></nz-tag>
          </nz-list-item>
          <nz-list-item>
            <nz-tag [nzColor]="isAddressChanged ? 'green' : false">Adresse: <b>{{element.current.address}}</b></nz-tag>
          </nz-list-item>
          <nz-list-item>
            <nz-tag [nzColor]="isEmailChanged ? 'green' : false">Email: <b>{{element.current.email}}</b></nz-tag>
          </nz-list-item>
          <nz-list-item>
            <nz-tag [nzColor]="isFunctionChanger ? 'green' : false">Fonction: <b>{{element.current.function}}</b></nz-tag>
          </nz-list-item>
          <nz-list-item>
            <nz-tag [nzColor]="isImageChanged ? 'green' : false">Image: <b>{{element.current.image}}</b></nz-tag>
          </nz-list-item>
        </nz-list>
      </nz-card>
    </nz-col>
  </nz-row>
</ng-template>
